# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars

# Ansible
*.retry

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.pyc